.heading{
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-size:xx-large;
    font-style: normal;
    text-shadow:2px 2px 5px #888888;
}
nav{
    font-size: large;
}
li a{
    font-family:cursive;
}
h1{
    font-family:'Times New Roman', Times, serif;
}
p{
    font-size: xx-large;
    /* overflow-x: hidden; */
    max-width:75%;
  }
  .align{
    display: flex;
    justify-content:start;
  }
  img{
    min-width:25%;
    max-width:75%;
  }
.boldtext{
  font-weight: bolder;
  color:rgb(0, 13, 255);
  font-size: 100em;

}